body{
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#a2d2ff,Pink,palevioletred,Red);
    color: white;}
/*.masked-overflow{
    --scrollbar-width: 8px;
    --mask-height: 32px;
    overflow-y: auto;
    height: 900px;
    padding-bottom: var(--mask-height);
    padding-right: 20px;
    --mask-image-content: linear-gradient(
        to bottom,
        transparent,
        black var(--mask-height),
        black calc(100% - var(--mask-height)),
        transparent
    );
    --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;
    --mask-image-scrollbar: linear-gradient(black, black);
    --mask-size-scrollbar: var(--scrollbar-width) 100%;
    mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
    mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
    mask-position: 0 0, 100% 0;
    mask-repeat: no-repeat, no-repeat;
}*/
#Ayush_BD-img {
    width: 150px;
    border: 6px solid palevioletred ;
    border-radius: 50%}
h1, h2, h3, h4, p {
    text-shadow: 0px 0px 2px black;}
#age {
    background: palevioletred;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 15px 0px 5px 0px;}
#date {
    background: palevioletred;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0px 0px 5px 0px;}
#header{
    margin-top: 215px;
    display: flex;
    flex-direction: column;
    align-items: center;}
.Gift-Section{
    margin-top: 180px;}
.gift-title{
    margin-bottom: 0px;}
.Gift-Hint{
    margin-top: 1px;}
.Gift-img {
    margin: 0 auto;
    height: 400px;
    width: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url(Images/Gift-Top_400px.jpg);
    background-size: 400px 400px;}
#Gift-img-Anime:hover {
    background-image: url(Images/Love.gif);}
#Gift-Section-02 {
    margin-top: 20px;}
#gift-img-velorant {
    margin-top: 20px;}
#Gift-img-Velorant:hover {
    margin-top: 20px;
    background-image: url(Images/valorant.gif);
    background-size: 400px 400px;}
#Gift-Section-03 {
    margin-top: 20px;}
#gift-img-Chess {
    margin-top: 20px;}
#Gift-img-chess:hover {
    margin-top: 20px;
    background-image: url(Images/Chess.gif);
    background-size: 400px 400px;}
#Gift-Section-04 {
    margin-top: 80px;}
#gift-img-No {
    margin-top: 20px;}
#Gift-img-No:hover {
    margin-top: 20px;
    background-image: url(Images/Phut\ phone\ down.gif);
    background-size: 400px 400px;}
#Gift-Section-05 {
    margin-top: 10px;}
#gift-img-Hit {
    margin-top: 20px;}
#Gift-img-Hit:hover {
    margin-top: 20px;
    background-image: url(Images/Phone_Hit.gif);
    background-size: 400px 400px;}
.footer{
    margin-top: 100px;
    background:none;
    text-align:center;
    font: size 3em;
    display: flex;
    flex-direction: column;
    align-items:center;}
#Footer-Img{
    margin-top: 10px;
    margin-bottom: 10px;}
#footer-video{
    background: black;
    margin-top: 0px;
    margin-bottom: 10px;
    transform: rotate(-90deg);}
 #hr-div-1{
    margin-top: 100px;}
 #hr-div-2{
    margin-top: 100px;}
 #hr-div-3{
    margin-top: 100px;}
 #hr-div-4{
    margin-top: 100px;
    background-color: blue;}